@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  font-family: Poppins;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(0, 170, 176, 0.1); */
}

body {
  font-family: Poppins;
  background-color: #f4f4f4;
  color: #fff;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  background-color: rgb(0, 170, 176, 0.1);
  padding: 20px;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  background-color: rgb(0, 170, 176);
  width: 150px;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.8rem;
  transition: 0.5s;
}

.menu a:hover {
  color: rgb(0, 170, 176);
  background-color: #fff;
}

.text {
  max-width: 400px;
}

.text h2 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.text span {
  color: rgb(253, 191, 15);
}

.text p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
}

.image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.image:hover {
  transform: rotateY(8deg) rotateX(18deg);
}
.image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.logo {
  width: 40%;
}

/* Form styles */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.form-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  transform: scale(0.8);
  opacity: 0;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-container h2 {
  margin-bottom: 15px;
  /* color: rgb(0, 170, 176); */
  color: rgb(253, 191, 15);
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container input,
.form-container select,
.form-container button {
  padding: 8px;
  font-size: 0.8rem;
  border: 1px solid #00aab0;
  border-radius: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}
input::placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.form-container button {
  background-color: rgb(0, 170, 176);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  width: 30%;
  align-self: end;
}
#formTitle {
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0; /* So it doesn't flash before GSAP animates */
}

.form-container button:hover {
  background-color: #fff;
  color: rgb(0, 170, 176);
  border: 1px solid rgb(253, 191, 15);
}
#userNameDisplay {
  text-transform: capitalize;
}

.tick-circle {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tick-svg {
  width: 50px;
  height: 50px;
}

.circle {
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  animation: draw-circle 0.6s ease forwards;
}

.check {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 36;
  stroke-dashoffset: 36;
  animation: draw-check 0.4s ease forwards;
  animation-delay: 0.6s;
}

@keyframes draw-circle {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-check {
  to {
    stroke-dashoffset: 0;
  }
}

#formOverlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack vertically */
  z-index: 999;
  padding: 20px;
}

#formContentText {
  display: none;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.75rem;
}

.form-content-text {
  animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 1500px) {
  .logo {
    width: 60%;
  }
  .content-p p {
    font-size: 25px;
  }
  .menu a {
    width: 250px;
    font-size: 1.4rem;
    margin: 1rem;
    padding: 1rem;
  }
  .form-container {
    max-width: 700px;
  }
  #formTitle {
    font-size: 35px;
  }
  #formContentText {
    font-size: 1.3rem;
  }
  .form-container input,
  .form-container select,
  .form-container button {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  .container {
    flex-direction: column;
    height: auto;
  }
  .logo {
    display: flex;
    justify-self: center;
    width: 55%;
  }
  .menu {
    align-items: center;
  }
  .form-container {
    padding: 15px;
  }
  #formOverlay {
    padding: 0;
  }
}
